{% extends 'user/layout1.html' %}
{% block content %}
<div class="bg-dark col-7 p-3">
    
    
    <a href="/user/edit" class="btn-link lead color1 d-block mb-3 px-3">Edit Profile</a>
    <a href="/user/upload" class="btn-link lead color1 d-block mb-3 px-3">Upload Profile Picture</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Gift registry</a>
    <a href="/asoebi" class="btn-link lead color1 d-block mb-3 px-3">Buy Aso Ebi</a>
    <a href="/#" class="btn-link lead color1 d-block mb-3 px-3">Logout</a>  
    <a href="/ajaxtest" class="btn-link lead color1 d-block mb-3 px-3">Logout</a>  
</div>
{% endblock %}